#cloud {
  width: 350px; height: 120px;
  background: black;
  background:         linear-gradient(top, #ddf 40%, #aaa 100%);
  background: -webkit-linear-gradient(top, #ddf 40%, #aaa 100%);
  background:    -moz-linear-gradient(top, #ddf 40%, #aaa 100%);
  background:     -ms-linear-gradient(top, #ddf 40%, #aaa 100%);
  background:      -o-linear-gradient(top, #ddf 40%, #aaa 100%);
  border-radius: 100px;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
      -ms-border-radius: 100px;
       -o-border-radius: 100px;
  position: absolute;
  margin: 180px 50px 20px;
  transform-style: preserve-3d;
  /*-webkit-animation: shadow 10s ease infinite;*/
}

#cloud:after, #cloud:before {
  content: '';
  position: absolute;
  background: #ddf;
}

#cloud:after {
  width: 100px; height: 100px;
  top: -50px; right: 50px;
  border-radius: 10px;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
      -ms-border-radius: 100px;
       -o-border-radius: 100px;
  z-index: -2;
}
/*
#cloud:before {
  width: 180px; height: 180px;
  top: -90px; left: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
      -ms-border-radius: 200px;
       -o-border-radius: 200px;
}
*/
#burst-8 {
  background: #ddf;
  width: 180px; height: 90px;
  position: absolute; top: -75px; left: 75px;
  border-radius: 40px;
  -webkit-transform: rotate(20deg) scaleX(1.05) scaleY(0.95);
     -moz-transform: rotate(20deg) scaleX(1.05) scaleY(0.95);
      -ms-transform: rotate(20deg) scaleX(1.05) scaleY(0.95);
       -o-transform: rotate(20eg) scaleX(1.05) scaleY(0.95);
  z-index: -2;
}

#burst-8:before {
  content: "";
  background: #ddf;
  width: 180px; height: 90px;
  position: absolute; top: 10px; right: 30px;
  border-radius: 40px;
  -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
     -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
  z-index: -2;
}

.shadow {
	width: 350px;
	position: absolute; bottom: -30px;
	background: #000;
	z-index: -1;
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	    -ms-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	     -o-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}
/*
#yin-yang {
	width: 48px;
	height: 96px;
	background: #eee;
	border-color: black;
	border-style: solid;
	border-width: 2px 50px 2px 2px;
	border-radius: 50%;
	position: relative;
  -webkit-animation: spin 0.5s 2s 30 alternate;

}

#yin-yang:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: #eee;
	border: 18px solid black;
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

#yin-yang:after {
	content: "";
	position: absolute;
	top: 0%;
	left: 50%;
	background: black;
	border: 18px solid #eee;
	border-radius:50%;
	width: 12px;
	height: 12px;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

*/

#sun {
  width: 100px; height: 100px;
  top: -70px; left: 70px;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
       -o-border-radius: 50%;
  -webkit-animation: spin 10s ease infinite; /*linear 1s infinite alternate;*/
  z-index: -5;
}